<div>
  <form method="post">
    <label for="title">Заголовок</label>
    <input
      id="title"
      type="text"
      value="<%= book.title %>"
      name="title"
      class="form-control"
    />
    <label for="description">Описание</label>
    <input
      id="description"
      type="text"
      value="<%= book.description %>"
      name="description"
      class="form-control"
    />
    <label for="authors">Авторы</label>
    <input
      id="authors"
      type="text"
      value="<%= book.authors %>"
      name="authors"
      class="form-control"
    />
    <label for="favorite">Любимая</label>
    <input
      id="favorite"
      type="checkbox"
      value="true"
      <%= book.favorite == true ? "checked" : "" %>
      name="favorite"
      class="form-check-input"
    />

    <button class="btn btn-primary" type="submit">Сохранить</button>
  </form>
</div>
