<li class="card flex-basis p-2" style="min-width: 12rem">
  <div class="card-body">
    <h5 class="card-title">Заголовок - <%=book.title%></h5>
    <p class="card-text">Описание - <%=book.description%></p>
    <a href="/books/info/<%=book.id%>" class="btn btn-secondary">Просмотр</a>
  </div>
</li>
