<div>
  <form
    method="post"
    class="d-flex"
    enctype="multipart/form-data"
  >
    <input
      type="file"
      value="<%= book.fileName %>"
      name="book"
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Загрузить</button>
  </form>
</div>
