<%- include('./common/layout-start') %>
<h1><%=title %></h1>
<%- include('./book/list') %>
<div>
  <a href="/books/create" class="btn btn-success">Добавить книгу</a>
  <a href="/books/upload" class="btn btn-secondary">Загрузить книгу</a>
</div>
<%- include('./common/layout-end') %>
